
                {% extends 'blog/base.html' %}

                {% block content %}
                    {% for post in mes_articles %}
                        <div class="post">
                            <div class="date">
                                <p>published: {{ post.published_date }}</p>
                            </div>
                            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </div>
                    {% endfor %}
                    <!-- for post in mes_articles = foreach ; mes_articles = variable -->
                {% endblock %}
